<!-- robot is stationary -->
<launch>
    <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/>
    <node name="ArucoDetect" pkg="aruco_detect" type="aruco_detect" output="log"/>
    <node name="ArucoPub" pkg="stalkerbot" type="Aruco_Pub.py" output="log"/>
    <node name="fiducial_filter" pkg="stalkerbot" type="fiducial_filter.py" output="screen"/>
    <node name="location_publisher" pkg="stalkerbot" type="location_pub.py" output="log"/>
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=raspicam_node/image raw out:=/camera"/>
</launch>